@import "../../../../packages/shadcn/src/style.css";
@import "../../../../packages/ui/src/style.css";

@source "../../../../packages/shadcn/src";
@source "../../../../packages/ui/src";

html,
body,
#app {
  margin: 0;
  overflow: hidden;
  background-color: transparent !important;
}

@layer components {
  .drag-region {
    -webkit-app-region: drag;
  }

  .no-drag-region {
    -webkit-app-region: no-drag;
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
